input#form-input {
	font-size: 30px;
	width: 75%;
}

label {
	font-size: x-large;
}

#button {
	font-size: x-large;
}

#output {
	width: 300px;
	pointer-events: auto;
	float: left;
}

#outputMSG {
	width: 700px;
	float: right;
}
